<div class="row show clearfix">
	<div class="span3 offset3">

			<%= render @pin %>

		<div class="row">
				<div class="span3 ">
				<%= link_to 'Back', pins_path %>
				
			</div>
		</div>
	</div>
</div>
