<div class="hero-unit">
	<h1>Welcome to Deb's awesome site</h1>
	<p>
		you found the home page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
		lesson.
	</p>
	<p>
		<%= link_to "Sign UP Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
