$baseFontFamily:'Merriweather Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300,800);

$btnPrimaryBackground: gray;
$navbarBackgroundHighlight: white;
$navbarBackground: white;
$linkColor: gray;



@import 'bootstrap';

body {
	padding-top:100px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	margin-top:50px;
	color:$grayLight;
	clear:both;
	a {
		color:$gray;
	}
}


/* Required for jQuery Masonry */

.box {
  margin: 20px;
  /*  padding: 5px;*/
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  /* box-shadow: 1px 1px 10px #444;*/
  width: 200px;
  border: 1px solid #00F2FF;
}

.box img {
  diplay: block;
  width: 100%;
}

.box-inner {
  margin: 10px;
}

.description {
  margin: 10px 0 5px;
}

.mashead {
  margin: auto;
  padding: auto;
}


a:hover {
  color:red;
  text-decoration:none;
}

.navbar {
  border-bottom: 1px solid #FF00E1;
}

.page {

  border-right: 1px solid #FF00E1;
  border-left: 1px solid #FF00E1;

}

