$baseFontFamily:'Merriweather Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300,800);

/* Bootstrap global overides */
$btnPrimaryBackground: gray;
$navbarBackgroundHighlight: white;
$navbarBackground: white;
$linkColor: gray;


@import 'bootstrap';

body {
	padding-top:150px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	margin-top:50px;
	color:$grayLight;
	clear:both;
	a {
		color:$gray;
	}
}


/* Required for jQuery Masonry */

.box {
  margin: 20px;
  /*  padding: 5px;*/
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  box-shadow: 2px 2px 0px #000;
  width: 190px;
  border: 1px solid #FF00E1;
}

.box img {
  diplay: block;
  width: 100%;
}

.box-inner {
  margin: 10px;
}

.description {
  margin: 10px 0 5px;
}

.mashead {
  margin: auto;
  padding: auto;
}


a:hover {
  color:#FF00E1;
  text-decoration:none;
}

.navbar {
  border-bottom: 1px solid #00F2FF;
}

.page {
  padding:30px;
  padding-top:none;
  border-right: 1px solid #00F2FF;
  border-left: 1px solid #00F2FF;

}

.masthead {
  clear:both;
  padding-top:20px;
}

.well {
  margin: 0 10px 0 10px;
}


.description {
  font-size: 1.7em;
  padding-bottom: 10px;
}
